@font-face {
    font-family: 'NanumSquare';
    src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
  }
  
@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
  }

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
}

header {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
}

header>ul {
    display: flex;
    font-family: 'NanumSquareRound';
}

header> ul> li {
    list-style-type: none;
    margin-left: 1.5rem;
}

header> ul> li > a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    color: rgb(51, 102, 64);
}

header> ul> li >a:hover {
    border-bottom: 2px solid rgb(225, 225, 225);
}

.popup_btn a {
    display: flex;
    padding: 20px;
    background: rgb(111, 184, 129);
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 40px;
    height: 70px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 900;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    position: fixed;
    width: 60%;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .5s;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 1;
  }
  
  .popup:target {
    visibility: visible;
    opacity: 1;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  .popup-close {
    position: absolute;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
  }
  
  .popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #000;
    transition: color .3s;
    font-size: 2em;
    line-height: .6em;
    font-weight: bold;
  }
  
  .popup .close:hover {
    color: #00E5EE;
  }